<p> Type: [You need to input your answer]</p>
<div *ngIf="!editable">
  <p>{{question.title}}</p>
  <input placeholder="Please input the answer" class="form-control" [(ngModel)]="question.answer" />
</div>

<div *ngIf="editable && isEditing">
  <input placeholder="Please input question" class="form-control" [(ngModel)]="question.title" required />
  <div class="btns">
    <button (click)="onSave()" class="btn">Save</button>
    <button (click)="onCancel()" class= "btn">Cancel</button>
  </div>
</div>

<div *ngIf="editable && !isEditing">
  <p>{{question.title}}</p>
  <input placeholder="Please input the answer" class="form-control" disabled="disabled" />
  <div class="btns">
    <button (click)="onEdit()" class="btn btn-default">Edit</button>
    <button (click)="onDelete()" class= "btn btn-default">Delete</button>
  </div>
</div>
