<app-base-page></app-base-page>
<ul class="list-group">
    <li class="list-group-item"><h3>After you login, you can create customize four types of survey question</h3></li>
    <li class="list-group-item"><h3>You can have manage your survey by very fine-grained features</h3></li>
    <li class="list-group-item"><h3>You can public your survey as a link to send anyone you want, with only one answer chance. </h3></li>
    <li class="list-group-item"><h3>You can analyze your survey data according all saved data in cloud MongoDB</h3></li>
</ul>