
<table *ngIf="questionnaire" class="table">
    <tr>
        <td>Questionnaire Title：</td>
        <td>{{questionnaire.title}}</td>
    </tr>
    <tr>
        <td>Questionnaire Start：</td>
        <td>{{questionnaire.starter}}</td>
    </tr>
    <tr>
        <td>Question Amount：</td>
        <td>{{questionnaire.questionList?.length}}</td>
    </tr>
    <tr>
        <td>Questionnaire Answers amount：</td>
        <td>{{questionnaireAnswerAmount}}
            <span><button *ngIf="canData" (click)="onShowAnswer()" class="btn btn-link">See Data</button></span>
            
        </td>
    </tr>
    <tr>
        <td>Create Time：</td>
        <td>{{questionnaire.createDate | date}}</td>
    </tr>
    <tr>
        <td>Questionnaire State:</td>
        <td>{{questionnaire.state | stateString}}</td>
    </tr>
</table>