<div style="margin-left:20% ; margin-right:20%" class="center-container" *ngIf="isEmpty">
    <div class="show-empty">
        Have not Created any Questionnaire，<a [routerLink]="['/admin/edit/0']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">create it</a> right now!
    </div>
</div>
<div style="margin-left:20% ; margin-right:20%" class="row center-container" *ngIf="!isEmpty">
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">Questionnaire List</div>
            <div class="list-group">
                <a class="list-group-item questionnaire-item" *ngFor="let item of questionnaires;let i=index;"
                    (click)="onSelect(item, i)" [class.active]="item===selectedQuestionnaire">
                    <survey-item [questionnaire]="item"></survey-item>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-5">
        <div class="panel panel-default">
            <div class="panel-heading">Questionnaire Detail</div>
            <div class="panel-body">
                <survey-detail [questionnaire]="selectedQuestionnaire"></survey-detail>
            </div>
        </div>
         <div class="panel panel-default">
            <div class="panel-heading">Questionnaire</div>
            <div class="panel-body">
                <survey-controls [questionnaire]="selectedQuestionnaire"
                    (deleteQuestionnaire)="onDeleteQuestionnaire()" 
                    (publishQuestionnaire)="onPublishQuestionnaire()"></survey-controls>
            </div>
        </div>
    </div>
</div>