<div class="row" *ngIf="questionnaire">
    <div class="col-lg-3">
        <button type="button" *ngIf="canPreview" class="btn btn-default btn-lg" (click)="onPreview()">
            <i class="bi bi-search"></i>
            <span class="control-text">Preview</span>
        </button>
    </div>
    <div class="col-lg-3">
        <button type="button" *ngIf="canAnswer && isNotExpire" class="btn btn-default btn-lg" (click)="onPreview()">
            <i class="bi bi-search"></i>
            <span class="control-text">Answer </span>
        </button>
    </div>
    <div class="col-lg-3" *ngIf="questionnaire.state==0 && isNotExpire">
        <button type="button" class="btn btn-default btn-lg" (click)="onEdit()">
            <i class="bi bi-pencil"></i>
            <span class="control-text">Edit</span>
        </button>
    </div>
    <div class="col-lg-3" *ngIf="questionnaire.state==0 && isNotExpire">
        <button type="button" class="btn btn-default btn-lg" (click)="onPublish()">
            <span class="bi bi-airplane"></span>
            <span class="control-text">Publish</span>
        </button>
    </div> 
    <div class="col-lg-3" *ngIf="canAnswer && isNotExpire">
        <button type="button" class="btn btn-default btn-lg" (click)="onPublic()">
            <span class="bi bi-airplane"></span>
            <span class="control-text">Public</span>
        </button>
    </div> 
    <div class="col-lg-3" *ngIf="questionnaire.state==1">
        <button type="button" class="btn btn-default btn-lg" (click)="onClose()">
            <span class="bi bi-bookmark-x"></span>
            <span class="control-text">Close</span>
        </button>
    </div>
    <div class="col-lg-3">
        <button type="button" class="btn btn-default btn-lg" (click)="onDelete()">
            <span class="bi bi-trash"></span>
            <span class="control-text">Delete</span>
        </button>
    </div>
</div>
